includes
index_files
dev/node_modules
dev/.cache
dev/dist
dev/html_fragments copy.json
dev/package-lock.json 
.vscode/
404.html
dvo.xpr
scripts/XSLT/plain_paleog.xsl
scripts/XSLT/plain_reg.xsl
scripts/__pycache__/
.idea