  @font-face {
     font-family: Junicode;
     src: url(https://devagorumordine.github.io/font/junicode-1.002/Junicode.ttf);
  }
  @font-face {
    font-family: Junicode;
    src: url(https://devagorumordine.github.io/font/junicode-1.002/Junicode-Bold.ttf);
    font-weight: bold;
 }
 @font-face {
    font-family: Junicode;
    src: url(https://devagorumordine.github.io/font/junicode-1.002/Junicode-Italic.ttf);
    font-style: italic;
 }
 @font-face {
    font-family: Junicode;
    src: url(https://devagorumordine.github.io/font/junicode-1.002/Junicode-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
  }
  @font-face {
    font-family: OpenSans;
    src: url(https://devagorumordine.github.io/font/open_sans/OpenSans-Regular.ttf);
  }
  @font-face {
    font-family: OpenSans;
    src: url(https://devagorumordine.github.io/font/open_sans/OpenSans-Bold.ttf);
    font-weight: bold;
  }
  @font-face {
    font-family: OpenSans;
    src: url(https://devagorumordine.github.io/font/open_sans/OpenSans-Italic.ttf);
    font-style: italic;
  }
  @font-face {
    font-family: OpenSans;
    src: url(https://devagorumordine.github.io/font/open_sans/OpenSans-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
  }
  @font-face {
    font-family: Spectral;
    src: url(https://devagorumordine.github.io/font/spectral/Spectral-Regular.ttf);
  }
  @font-face {
    font-family: Spectral;
    src: url(https://devagorumordine.github.io/font/spectral/Spectral-Bold.ttf);
    font-weight: bold;
  }
  @font-face {
    font-family: Spectral;
    src: url(https://devagorumordine.github.io/font/spectral/Spectral-Italic.ttf);
    font-style: italic;
  }
  @font-face {
    font-family: Spectral;
    src: url(https://devagorumordine.github.io/font/spectral/Spectral-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
  }



* {
    font-size: 16px;
    font-family: OpenSans;
    /* font-family: sans-serif; */
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

/* TOC */
#toc {
  position: fixed;
  width: auto;
  height: auto;
  z-index: 90;
  /* padding: 1rem; */
  /* color: white; */
  /* background-color: #a87790; */
  
}

.dropdown-toggle-1 {
  color: black;
  background-color: #e0cfd8;
  border: solid black 1px;
  padding: 0.5em;
  border-radius: 0.3em;
}

.dropdown-menu-1 {
  /* margin-top: 1em; */
  position: fixed;
  width: auto;
  height: auto;
  background-color: #e0cfd8;
  border: solid black 1px;
  padding: 0.5em;
  border-radius: 0.3em;
  list-style-type:none;
}



.dropdown-menu-1 > li a{
  color: black;
  line-height: 2em;
  padding-left: 0;
}


/* GENERAL */

.main_title {
    text-align: center;
    width: 40rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 20px;

}

.website_content p, .website_content blockquote {
    max-width: 50rem;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;

}

.website_content p, .website_content ul *  {
  font-family: 'Spectral', serif;
  font-size: 20px;
}

a, em, span {
  font-family: inherit;
  font-size: inherit;
}



.website_content div h1 {
    max-width: 50rem;
    /* text-align: center; */
    margin-left: 1rem;
    /* margin-left: auto; */
    margin-bottom: 20px;
    margin-top: 20px;
}



.website_content div h2 {
    max-width: 50rem;
    /* text-align: center; */
    margin-left: 1rem;
    /* margin-left: auto; */
    margin-bottom: 20px;
    margin-top: 20px;
}

.website_content div h3 {
    max-width: 50rem;
    /* text-align: center; */
    margin-left: 3rem;
    /* margin-left: auto; */
    margin-bottom: 20px;
    margin-top: 20px;
}

.website_content ul {
    max-width: 50rem;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Spectral', serif;
    font-size: 20px;
}

.mss_list_item  {
   max-width: 50rem;
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
}
.mss_list_item  h4{
  margin-top: 3rem;
  font-weight: bold;
}

.website_content li {
    margin: 10px;
    font-family: 'Spectral', serif;
    font-size: 20px;
}

.subsection {
  max-width: 50rem;
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
}

.subsection h3 {
  margin-left: 0 !important;
  margin-top: 3rem !important;
}

h4 small.text-muted a{
  font-size: 14px;
  cursor: pointer;
  color: brown;
}



blockquote {
  background-color: white;
  padding-left: 5rem;
  padding-right: 5rem;
  line-height: 1.5em;

  /* font-size: inherit; */
  font-family: inherit;
}

a[data-toggle="tooltip"]{
  /* color: rgb(63, 6, 6); */
  color: black;
  font-variant: small-caps;

}


/* Startseite */

.main-selector-div {
    display: block; 
    color: white;
    font-style: bold;
    height: 300px;
    width: 100%;
    position:relative;
    text-align: center;
    margin-bottom: 20px;
    /* background-color: rgba(119, 168, 168, .4); */
    background-color: grey;
    /* border: solid 2px rgba(119, 168, 168, .9); */
    border: solid 2px black;
}

.main-selector-div:hover {
    border: solid 2px rgba(119, 168, 168, .9);
    /* background-color: rgba(217, 236, 208, .7); */
}

.main-selector-div:hover .box-title {
    color: white;
    /* border: solid 2px rgba(119, 168, 168, 1); */
    background-color: rgba(119, 168, 168, 1);
    filter: opacity(1);
}

.box-title {
    background-color: grey;
    padding: 10px 15px 5px 15px ;
    filter: opacity(0.9);
    border: solid 1px black;
    border-radius: 5px;

    min-width: 75%;
}

.main-selector-div div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.blur {
    height: 100%;
    width: 100%;
    /* backdrop-filter: blur(4px);
    -webkit-filter: blur(4px); */
    background-size: 100%;
    /* filter: blur(4px ) brightness(0.8); */
    /* filter: drop-shadow(16px 16px 10px black); */
    filter: opacity(50%) blur(4px);
    /* background-color: rgba(217, 236, 208, .7);
    background-blend-mode: multiply; */
}

.main-selector-div:hover .blur {
    filter: blur(1px) opacity(80%);
}

/* .main-selector-div div {
    backdrop-filter: blur(0px);
    -webkit-filter: blur(0px);
} */


.dvo-logo {
    font-weight: bold;
    font-style: italic;
}


/* Rahmentexte */

.right-col-img{
    width: 20rem;
}



/* RESPONSIVENESS */
@media (min-width: 641px){
  #toc {
    left: 1rem;
    top: 4em;
  }

  .dropdown-menu-1 {
    left: 1rem;
    top: 6.7em;
  }

}

@media (max-width: 640px) 
{
    #background-title-img{
        display: none;
    }

    p, h1, h2, h3, h4 {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .website_content p, .website_content ul *  {
      font-size: 18px;
      line-height: 1.4;
    }

    .right-col-img {
      padding-left: 1rem;
      margin-bottom: 2rem;
    }

    #toc {
      /* position: relative; */
      /* top: 0; */
      height: auto;
      width: auto;
      
      top: 0.5em;
      left: none;
      right: 1em;
      margin: 0;
      padding: 0;
    }

    .dropdown-menu-1 {
      right: 1rem;
      top: 3.2em;
    }

    
}