@font-face {
    font-family: Junicode;
    src: url(https://github.com/DeVagorumOrdine/DeVagorumOrdine.github.io/blob/main/font/junicode-1.002/Junicode.ttf?raw=true);
  }

/* Palette https://www.w3schools.com/colors/tryit.asp?filename=trycolors_palettes13 */

#edition {
    display: table;
    margin: auto;
    /* margin-left: 2rem;
    position:absolute;
    right: 2rem; */
}

#edition * {
    font-family: Junicode;
}




#optionen-toggle {
    font-size: small;
}


#anzeige-optionen{
    position:fixed;
    top:20px;
    width:400px;
    height:350px;
    right: -400px;
    background: #77a8a8;
    /* padding-top: 10px;
    padding-left: 15px; */
    z-index: 90;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
    border: solid rgb(224, 191, 223) 1px;
}

#anzeige-optionen * {
    color: white;
}

.darstellung-section {
    padding-left: 1rem;
    padding-top: 1rem;
}

.darstellung-section .form-check {
    padding-left: 2rem;
}

.darstellung-section p {
    margin-bottom: 0;
}


.close {
    /* float: right; */
    position: absolute;
    font-size: large;
    right: 20px;

}

/* NAVBAR */
#navbarcont * {
    font-size: x-large;
}


/* TEXT */

/* lv-primary and lv-secondary are the styles for line and verse number, depending on the layout option chosen */
.lv-primary {
    padding-right: 1rem;
    padding-left: 0.5rem;
}

.lv-secondary {
    font-size: small;
    color: #b9b0b0;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.tei-c:before {
    content: " ";
}

.tei-w:hover {
    background-color: aliceblue;
}

.tei-att-lemma {
    position:relative;
    top: -15px;
    left: -10px;
    background-color:#d9ecd0;
}

.tei-hi.hc-Red {
    color: Red;
}

