@font-face {
    font-family: Junicode;
    src: url(https://devagorumordine.github.io/font/junicode-1.002/Junicode.ttf?raw=true);
  }

/* Palette https://www.w3schools.com/colors/tryit.asp?filename=trycolors_palettes13 */

* {
    font-size: 16px;
}

#edition {
    display: table;
    margin: auto;
    max-height: 100px;
    overflow-y: scroll;
    /* margin-left: 2rem;
    position:absolute;
    right: 2rem; */
}

#edition *, /* #edition for hss edition and .text-col for synopse*/
.text-col * { 
    font-family: Junicode;
    font-size: 18px;
}



#optionen-toggle {
    font-size: large;
}


#anzeige-optionen{
    position:fixed;
    top:20px;
    width:400px;
    height:600px;
    right: -400px;
    background: #77a8a8;
    /* padding-top: 10px;
    padding-left: 15px; */
    z-index: 90;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
    border: solid rgb(224, 191, 223) 1px;
}

#anzeige-optionen * {
    color: white;
}

.darstellung-section {
    padding-left: 1rem;
    padding-top: 1rem;
}

.darstellung-section .form-check.primoption {
    padding-left: 2rem;
}

.darstellung-section .form-check.suboption {
    padding-left: 3rem;
}

.darstellung-section p {
    margin-bottom: 0;
}


.close {
    /* float: right; */
    position: relative;
    font-size: large;
    right: 20px;
}




/* TEXT */

/* lv-primary and lv-secondary are the styles for line and verse number, depending on the layout option chosen */
.lv-primary {
    padding-right: 1rem;
    padding-left: 0.5rem;
    font-size: medium;
}

.lg-primary {
    padding-right: 1rem;
    padding-left: 0.5rem;
    font-size: x-large;
    padding-top: 2rem;
}



.lv-secondary {
    font-size: small;
    color: #b9b0b0;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.tei-c:before {
    content: " ";
}

.tei-w:hover {
    background-color: aliceblue;
}

.tei-w {
    position: relative;
}


.tei-hi.hc-Red {
    color: Red;
}

.tei-del {
    text-decoration: underline;
    text-decoration-style:dotted;
}

.tei-add-pal {
    position: relative;
    top: -0.2rem;
}
.tei-add-pal:before {
    content: '\\'
}
.tei-add-pal:after {
    content: '/'
}

.tei-sic {
    position: relative;
}
.tei-corr {
    position: relative;
}


/* POPUPS */

.tei-att-lemma {
    position:absolute;
    top: -1.7rem;
    left: -1rem;
    right: -3rem;
    /* background-color:#d9ecd0; */
    background-color: #e4d1d1;
        
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    border: solid #b9b0b0 1px;
    border-radius: 5px;
    z-index: 90;
}

.corr-popup {
    position:absolute;
    left: -1rem;
    right: -5rem;
    /* text-align: center; */
    background-color:#d9ecd0;
    background-color:#e4d6ff;
    /* background-color: #e4d1d1; */
    
        
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    border: solid #284d17 1px;
    border-radius: 5px;
    z-index: 90;
    display: inline-block;
}

.corr-popup > .tei-sic,
.corr-popup > .tei-corr{
    font-weight: bold;
}


/* SOLUTION FOR 5, 7 and 8 COLUMNS */

.col-xs-8r,
.col-sm-8r,
.col-md-8r,
.col-lg-8r,
.col-xs-5r,
.col-sm-5r,
.col-md-5r,
.col-lg-5r,
.col-xs-7r,
.col-sm-7r,
.col-md-7r,
.col-lg-7r {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-8r {
    width: 12.5%;
    float: left;
}

.col-xs-7r {
    width: 14.25%;
    float: left;
}

.col-xs-5r {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-8r {
        width: 12.5%;
        float: left;
    }
    .col-sm-7r {
        width: 14.25%;
        float: left;
    }
    .col-sm-5r {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-8r {
        width: 12.5%;
        float: left;
    }
    .col-md-7r {
        width: 14.25%;
        float: left;
    }
    .col-md-5r {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-8r {
        width: 12.5%;
        float: left;
    }
    .col-lg-7r {
        width: 14.25%;
        float: left;
    }
    .col-lg-5r {
        width: 20%;
        float: left;
    }
}
