* {
    font-size: 16px;
}

.main_title {
    text-align: center;
    width: 40em;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 20px;

}

.website_content p {
    max-width: 45em;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
}

.website_content ul {
    max-width: 45em;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
}

.website_content li {
    margin: 10px;
}

